/* purgecss start ignore */
@tailwind base;
@tailwind components;
.P {
  @apply mt-3 text-base md:mt-5 md:text-xl sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto;
}

.H1 {
  @apply text-4xl font-bold leading-10 tracking-tight md:text-6xl sm:text-5xl sm:leading-none;
}

/* purgecss end ignore */
@tailwind utilities;

/* Font Declaration */

@font-face {
  font-family: "SpriteGraffiti";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/SpriteGraffiti-Regular.woff2") format("woff2"),
    url("../fonts/SpriteGraffiti-Regular.woff") format("woff");
}
@font-face {
  font-family: "bbb";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/RubikMonoOne-Regular.woff2") format("woff2"),
    url("../fonts/RubikMonoOne-Regular.woff") format("woff");
}

/* @font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Manrope-Black.woff2") format("woff2"),
    url("../fonts/Manrope-Black.woff") format("woff");
} */
/* @font-face {
  font-family: "IBMPlexSans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/IBMPlexSans-ExtraBold.woff2") format("woff2"),
    url("../fonts/IBMPlexSans-ExtraBold.woff") format("woff");
} */
@font-face {
  font-family: "IBMPlexSans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/IBMPlexSans-Bold.woff2") format("woff2"),
    url("../fonts/IBMPlexSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "IBMPlexSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/IBMPlexSans-Regular.woff2") format("woff2"),
    url("../fonts/IBMPlexSans-Regular.woff") format("woff");
}
/* @font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/IBMPlexSans-Light.woff2") format("woff2"),
    url("../fonts/IBMPlexSans-Light.woff") format("woff");
} */

@font-face {
  font-family: "IBMPlexSans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/IBMPlexSans-Medium.woff2") format("woff2"),
    url("../fonts/IBMPlexSans-Medium.woff") format("woff");
}

/* Font Declaration */
